body {
  background-color: #3a3a3a;
  font-family: sans-serif;
  font-size: 16px/24px;
}

#main {
  background-color: #f1f1f1;
  margin: 0 auto;
  padding: 20px;
  width: 85%;
}

h1#title {
  font-size: 5em;
  margin: 0 auto;
  padding: 12px 0 0;
  text-align: center;
}

p.quote {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.25em;
  text-align: center;
}

p.quote:before,
p.quote:after {
  content: '"';
}

#img-div {
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100%;
}

#img-div #image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

#img-div #img-caption {
  font-size: 0.8em;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer p {
  font-size: 12px;
  margin-bottom: 0;
}
